@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@font-face {
  font-family: "SquidFont";
  src: local("SquidFont"),
    url("../assets/the-shape-of-things.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --bg-dark: #2b2c2f;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.2);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7ee;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

body {
  font-size: 17px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
  background-color: #030303;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}
/* .wrap {
  background-color: #000000ea;
  background-image: url("./pattern.svg");
  background-attachment: fixed;
  background-size: contain;
  min-height: 100vh;
  border-radius: 0 0 200px 0;
  position: relative;
  z-index: 1;
} */
/* Navbar CSS */
.navbar,
.navbar__mobile {
  margin: 0;
  position: sticky;
  padding: 10px;
  transition: all 0.5 ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.back__change {
  background: #2b2c2f;
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
}
.nav__links {
  display: flex;
  align-items: center;
}
.nav__options {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  padding: 20px 20px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
  transform: translateX(-100%);
  background: #2b2c2f;
}
.nav__options__visible {
  transform: translateX(0%);
  z-index: 10;
}
.nav__options > ul {
  flex-direction: column;
}
.navbar > .container {
  padding: 5px 0;
}
.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: #1a1919;
  padding: 10px;
}
.navbar__right button {
  background: #fff;
  border: none;
  padding: 10px 15px;
}
.navbar__right button:hover {
  background: #e93e7d;
  color: #fff;
}
.navbar .nav-item {
  margin-left: 40px;
}
.navbar .nav-item .nav-link {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  text-transform: capitalize;
  padding: 5px 0;
  position: relative;
}
.burger {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  z-index: 5;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: #e93e7d;
  transition: all 0.5s ease;
  transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}
.btn-2 {
  background-color: #fff;
  padding: 8px 8px 5px 8px;
  border: none;
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
  margin-top: 10%;
}
.btn-2:focus {
  box-shadow: var(--shadow-black-300);
}

.btn-2:hover {
  color: #e4eaf0;
  background-color: #e93e7d;
}
.button-spacing {
  margin-right: -50px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rspin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bounce1 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}
