<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="./temp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="flex__center flex__vert">
        <div class="flex__center header flex_vert">
            <img src="./images/BlueWithBrackets.png" alt="" width="120px">
            <h1>Code Chef SRM Chapter</h1>
        </div>
        <div class="body flex__center flex__vert">
            <h1>안녕하세요 👋 !!</h1>
            <br>
            <p>Hey USER here is the link to reset your password</p>
            <a href="/link">
                <button id='reset_button'>Reset Password</button>
            </a>
        </div>
        <div class="shapes flex__center">
            <img src="./images/circle.png" alt="">
            <img src="./images/triangle.png" alt="">
            <img src="./images/rectangle.png" alt="">
        </div>
        <div class="footer flex__center flex__vert">
            <h2>Get in touch</h2>
            <a href="/" id="email_link">ccsc@gmail.com</a>
            <div>
                <a href="/">
                    <img src="./images/instagram (2).png" alt="">
                </a>
                <a href="/">
                    <img src="./images/linkedin (1).png" alt="">
                </a>
                <a href="/">
                    <img src="./images/twitter (2).png" alt="">
                </a>
                <a href="/">
                    <img src="./images/discord (1).png" alt="">
                </a>
            </div>
            <p>CodeChef SRM Chapter &copy; all rights reserved</p>
        </div>
    </div>
</body>

</html>