* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex__vert {
  flex-direction: column;
}
.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("./images/img.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 700px;
  height: 300px;
  padding: 20px;
  color: #fff;
  flex-direction: column;
  text-align: center;
}
.header > img {
  margin-bottom: 15px;
}
.body {
  background: #fff;
  width: 90%;
  padding: 5%;
  text-align: center;
}
.body p {
  font-size: 25px;
  width: 100%;
  max-width: 700px;
}
.shapes img {
  width: 25px;
  padding: 10px;
}
#reset_button {
  padding: 15px 20px;
  margin-top: 20px;
  border: none;
  background: rgb(225, 68, 91);
  font-size: 15px;
  cursor: pointer;
}
.footer {
  background: rgb(225, 68, 91);
  display: flex;
  width: 100%;
  max-width: 700px;
  padding: 20px 20px;
}
.footer img {
  width: 25px;
}
.footer a {
  margin: 10px;
  text-decoration: none;
  text-align: center;
}
.footer p {
  margin-top: 20px;
  text-align: center;
}
#email_link {
  color: #000;
  margin-bottom: 20px;
  text-decoration: underline;
}
