.App {
  font-family: sans-serif;
  background: #1c1d1f;
  color: white;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  box-sizing: border-box;
}

.react-tabs {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* border-radius: 5px; */
  /* margin-top: 36px; */
  width: 100vw;
  height: 100vh;
  border: 1px solid #3c3e43;
  color: white;
  background: #1c1d1f;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0;
  padding: 0;
  color: white;
  background: #3c3e43;
}

.react-tabs__tab {
  height: 70px;
  list-style: none;
  padding: 12px 6px;
  cursor: pointer;
  color: #bbb;
}

.react-tabs__tab--selected {
  background: #1c1d1f;
  border-color: #1c1d1f;
  border-left: 4px solid #6eb800;
  color: white;
}

.react-tabs__tab-panel {
  display: none;
  width: 100%;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab {
  padding-left: 24px;
}

.react-tabs__tab--selected {
  padding-left: 21px;
}

.panel-content {
  padding: 10px;
  text-align: center;
}

.left-tab-div {
  width: 250px;
  padding-left: 0;
}

.tabs-element {
  display: flex;
}
.instructions {
  text-align: left;
}
.actions {
  width: fit-content;
  margin-bottom: 0;
}

@media only screen and (max-width: 750px) {
  .tabs-element {
    display: flex;
    flex-direction: column;
  }
  .left-tab-div {
    width: 100%;
    padding-left: 0;
  }
  .instructions {
    text-align: center;
  }
  .btn-div {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
