@font-face {
  font-family: "SquidFont";
  src: local("SquidFont"),
    url("../assets/the-shape-of-things.ttf") format("truetype");
  font-weight: bold;
}

.thankyou-main {
  /* padding-top: 20px; */
  overflow-y: hidden;
  background-color: #000000;
  text-align: center;
  align-items: center;
  margin: auto;
  font-family: SquidFont;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.thankyou-heading {
  color: #16e4e4;
  padding: 2rem;
  font-size: 2rem;
}

.thankyou-text {
  font-size: 1.2rem;
  color: white;
  padding-top: 4rem;
}

.primary {
  background-color: #16e4e4;
  border: none;
  padding: 5px;
  box-shadow: none;
  color: #242943;
}
@media screen and (max-width: 360px) {
  .thankyou-main {
    height: 100%;
  }
}
