@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.main {
  font-family: SquidFont;
  background-color: #000000ea;
  /* background-image: url("../home/pattern.svg");
  background-size: contain; */
}
.h-custom {
  height: calc(100% - 73px);
}

.form {
  position: relative;
  padding: 50px;
}
.btn {
  background-color: #037a76;
}

.link {
  color: #037a76;
}

.para-main {
  color: #037a76;
  text-align: center;
  font-size: larger;
}

.form-control {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid #000000;
}

.form-control:focus {
  background: black;
  color: white;
  border-color: #4e1818;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #4e1818;
}

.form-label {
  color: #037a76;
}
.small {
  color: white;
}
.form-control {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
  .recapt {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .recapt {
    margin-left: 0;
  }
}
@font-face {
  font-family: "SquidFont";
  src: local("SquidFont"),
    url("../assets/the-shape-of-things.ttf") format("truetype");
  font-weight: bold;
}
